.layout_header {
  background-color: #f8f9fa;
  padding: 10px;
  border-bottom: 1px solid #dee2e6;
}

.layout_center {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

.center_left {
    position: relative;
    background-color: #f1f1f1;
    padding: 10px;
    border-right: 1px solid #dee2e6;
}

.center_right {
    position: relative;
    background-color: #f1f1f1;
    padding: 10px;
}